
.left-sidenav {
    min-width: 270px;
    max-width: 270px;
    background-color: #ffffff;
    min-height: calc(100vh - 70px);
    -webkit-box-shadow: 0 6px 20px rgba(36, 37, 38, 0.08);
            box-shadow: 0 6px 20px rgba(36, 37, 38, 0.08);
    -webkit-transition: .3s;
    transition: .3s;
    padding: 24px;
  }
  
  .left-sidenav-menu {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .left-sidenav-menu li {
    list-style: none;
    display: block;
    width: 100%;
    margin-top: 6px;
  }
  
  .left-sidenav-menu li > a {
    display: block;
    padding: 12px 24px;
    color: #586571;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .left-sidenav-menu li > a:hover {
    color: #0656ff;
  }
  
  .left-sidenav-menu li > a:hover i {
    color: #0656ff;
  }
  
  .left-sidenav-menu li > a i {
    width: 25px;
    display: inline-block;
    font-size: 16px;
    opacity: 0.8;
    color: #303e67;
  }
  
  .left-sidenav-menu li > a i.ti-control-record {
    font-size: 8px;
    vertical-align: middle;
  }
  
  .left-sidenav-menu li ul {
    padding: 0 0 0 25px;
  }
  
  .left-sidenav-menu li ul li > a {
    padding: 10px 22px;
    color: #586571;
    font-size: 13.5px;
    border-left: none;
  }
  
  .left-sidenav-menu li ul li > a:hover {
    color: #0656ff;
  }
  
  .left-sidenav-menu li ul li > a:hover i {
    color: #0656ff;
  }
  
  .left-sidenav-menu li.mm-active .menu-arrow i:before {
    content: "\F140";
  }
  
  .left-sidenav-menu li.mm-active .mm-active a .menu-arrow.left-has-menu i:before {
    content: "\F140";
  }
  
  .left-sidenav-menu li.mm-active .menu-arrow.left-has-menu i:before {
    content: "\F142";
  }
  
  .left-sidenav-menu li.mm-active li a menu-arrow.left-has-menu i:before {
    content: "\F142";
  }
  
  .left-sidenav-menu li.mm-active .mm-active > a {
    color: #0656ff;
    background: #ffffff;
    -webkit-box-shadow: 3px 0 20px 0 #eff2f9;
            box-shadow: 3px 0 20px 0 #eff2f9;
  }
  
  .left-sidenav-menu li.mm-active .mm-active > a.active {
    color: #0656ff;
    background-color: transparent;
  }
  
  .left-sidenav-menu li.mm-active .mm-active > a i {
    color: #0656ff;
  }
  
  .left-sidenav-menu li.mm-active .mm-active .menu-arrow.left-has-menu i:before {
    content: "\F140";
  }
  
  .left-sidenav-menu li.mm-active .mm-active .mm-show li a.active {
    color: #0656ff;
  }
  
  .left-sidenav-menu li.mm-active > a {
    color: #ffffff;
    background: linear-gradient(14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    -webkit-box-shadow: 3px 3px 20px 0 rgba(6, 86, 255, 0.4);
            box-shadow: 3px 3px 20px 0 rgba(6, 86, 255, 0.4);
    border-radius: 4px;
  }
  
  .left-sidenav-menu li.mm-active > a i {
    color: #ffffff;
  }
  
  .left-sidenav-menu li.mm-active .nav-item.active a.nav-link.active {
    background-color: transparent;
    color: #0656ff;
  }
  
  .left-sidenav-menu li.mm-active .nav-item.active a.nav-link.active i {
    color: #0656ff;
  }
  
  .left-sidenav-menu .menu-title {
    padding: 10px 30px;
    color: #8997bd;
    font-size: 11px;
    text-transform: uppercase;
  }
  
  .left-sidenav-menu .menu-arrow {
    float: right;
    margin-top: -3px;
  }
  
  .left-sidenav-menu .menu-arrow i {
    width: 15px;
  }

  @media (max-width: 1024px) {
    .left-sidenav {
      position: fixed;
      top: 70px;
      overflow-y: auto;
      z-index: 10;
      bottom: 0;
    }
    .page-content {
      min-height: 100vh;
    }
  }
  
  .enlarge-menu .left-sidenav {
    display: none;
  }
  
  .enlarge-menu .topbar .topbar-left {
    -webkit-box-shadow: 0 6px 20px -6px rgba(36, 37, 38, 0.08);
            box-shadow: 0 6px 20px -6px rgba(36, 37, 38, 0.08);
  }
  
  body.left-sidenav-dark .topbar .topbar-left {
    background-color: #1c1c29;
  }
  
  body.left-sidenav-dark .topbar .topbar-left .logo .logo-lg {
    display: none;
  }
  
  body.left-sidenav-dark .topbar .topbar-left .logo .logo-lg.logo-light {
    display: inline-block;
    height: 14px;
    margin-left: 2px;
  }
  
body.dark-sidenav .left-sidenav {
    background-color: #181823;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li > a {
    color: #a9baca;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li > a i {
    color: #3d4f83;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li > a.active {
    color: #ffffff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li > a.active i {
    color: #538aff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li > a.active:hover i {
    color: #538aff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li > a:hover {
    color: #ffffff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li > a:hover i {
    color: #538aff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li ul li > a {
    color: #a9baca;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li ul li > a:hover {
    color: #7496f8;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li.mm-active .nav-item.active a.nav-link.active {
    background-color: transparent;
    color: #ffffff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li.mm-active .nav-item.active a.nav-link.active i {
    color: #ffffff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li.mm-active .mm-active > a {
    background-color: #1c1c29;
    -webkit-box-shadow: 3px 0 20px 0 #181823;
            box-shadow: 3px 0 20px 0 #181823;
    color: #6c9bff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li.mm-active > a {
    color: #ffffff;
  }
  
  body.dark-sidenav .left-sidenav .left-sidenav-menu li.mm-active > a i {
    color: #ffffff;
  }
  
  @media (max-width: 1024px) {
    body.dark-sidenav .topbar .topbar-left .logo .logo-lg.logo-light {
      display: none;
    }
  }

.nav-second-level .nav-item .active {
    background-color: transparent;
    color: #0656ff;
}